<footer>
  <!-- Un petit bouton flottant -->
<div id="bg-status-icon" title="Voir les logs">⚙️
<span id="bg-status-badge">0</span>
</div>
<!-- Panneau caché par défaut -->
<div id="bg-status-panel">
  <h4>Information des tâches</h4>
  <ul id="bg-status-list"></ul>
  <button onclick="clearLogs()">🗑️ Effacer</button>
  <button onclick="toggleBgPanel()">Fermer</button>
</div>
<nav class="tabs">
    <a href="{{ url_for('home.huddle_home') }}" class="tab">Sécurité - Qualité</a>
    <a href="{{ url_for('services.planning', service_key='meca') }}"class="tab">Mécanique</a>
    <a href="{{ url_for('services.planning', service_key='util') }}"class="tab">Utilités</a>
    <a href="{{ url_for('services.planning', service_key='sgx')  }}"class="tab">Services généraux</a>
    <a href="{{ url_for('services.planning', service_key='elec') }}"class="tab">Électrique</a>
    <a href="{{ url_for('services.planning', service_key='autom') }}"class="tab">Automatisme</a>
    <a href="{{ url_for('services.planning', service_key='equip') }}"class="tab">Equipements</a>
    <a href="{{ url_for('action.plan_action') }}" class="tab">Plan d'action</a>

  <!--  <a href="Plan_daction.html" class="tab">Plan d'action</a> -->
</nav>
</footer>
